@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */

/* *--> ei tar kaj hocche all seclect kora */
*{
    margin: 0;
    padding: 0;
}
/* div function use for button  */
.button-container{
    text-align: center;
}
/* how to work for boutton  */
.button{
    /* font size plus padding */
    padding: 14px 25px 15px 25px;
    color: rgba(255, 255, 255, 1);

    /* font size style */
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    /* background-color: ; */
    border-radius: 8px;
    background: rgba(82, 195, 3, 1);
    border: none;
    /* button ke mark korara jonnw proparty */
    cursor:pointer;

}
#hero{
    background: linear-gradient(0.00deg, rgba(9.197244644165039, 8.92899227142334, 8.92899227142334, 1),rgba(16, 16, 16, 0) 100%),    url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 960px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#hero .hero_contant {
    width: 700px;
}
#hero .hero_contant .subtile{
    opacity: 0.8;
    color: rgba(255, 255, 255, 1);

    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 90%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 12px;

}

#hero .hero_contant .header {
    color: rgba(255, 255, 255, 1);

    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 18px;
}

#hero .hero_contant .description{
    opacity: 0.7;

    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 25px;   
}



/* (all section bah header ar part of css 🤝) */
#card-box {
    width: 850px;
    margin: 100px auto;

}
#card-box .info{
     
}

#card-box .title{
    /* h1 and p jonnw (font-line) so carefully */
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0%;
    text-align: center;
}

#card-box .subtitle{
    color: rgba(16, 16, 16, 1);

    font-family: Work Sans;
    font-size: 19px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
}
.card-container{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-family: Work Sans;
    cursor:pointer;
}
.card {
    max-width: 250px;
    display:flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.card .image-box{
    width: 250px;
}
.card .image-box img{
    width: 100%;
}
.card .shop{
    text-align: center;
    background-color: aqua;
    padding: 10px 18px 10px 18px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
}
.side_image img{
    /* image 1 */
    width: 750px;
    height: 500px;
    background: rgba(255, 255, 255, 1);
    padding: 60px;
}
#contant_img .all_contant{
    /* Frame 21 */
width: 830px;
height: 398px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 32;
}

#part-1{
    /* background-color: brown; */
    background-image: url("../assets/social-bg.png");
    /* image 2 */
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;

}

#part-1 .part-2{
    width: 450px;
    height: 1000px;
    margin: 0 auto;
    
}  

#part-1 .part-h{
    color: rgba(16, 16, 16, 1);

    font-family: Work Sans;
    font-size: 23px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
    padding: 40px;
    margin-top: 100px;
}
#part-1 .part-p{
    color: rgba(16, 16, 16, 1);

    font-family: Work Sans;
    font-size: 15px;
    font-weight: 500;
    line-height: 80%;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
}

#part-1 .part-fallow{
    color: rgba(16, 16, 16, 1);

    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 50px;
}
